<h5>Your Savings Account Balance:</h5>

<p role="status" >@SavingsBalance.ToString("C")</p>

<h5>Your Checking Account Balance:</h5>

<p role="status" >@CheckingBalance.ToString("C")</p>

<h5>Your total money:</h5>

<p role="status" style="color: @color;">@TotalBalance.ToString("C")</p>

<p role="status">
    @if (TotalBalance > OriginalSavingsBalance)
    {
        <b>Look at that @((-1*BurnedMoney).ToString("C")) of passive income📈. Time to start a YouTube channel?</b>
    }
    @if (TotalBalance < OriginalSavingsBalance)
    {
        <b>You have lost @BurnedMoney.ToString("C") transfering money. It's just gone 💸.</b>
    }
</p>


<button class="btn btn-primary" @onclick="HandleClick">Transfer $@GetTransferAmount() and watch the magic</button>